{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<table id="result_list" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
              Название
            </th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in cl.result_list %}
            <tr>
                <td>
                  {{obj.name}}
                </td>
                <td>
                    <a href="/admin/app/institutes/{{obj.id}}/change/" class="btn btn-secondary btn-sm">Редактировать</a>
                    <a href="/admin/app/institutes/{{obj.id}}/delete/" class="btn btn-danger btn-sm">Удалить</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="{{ cl.list_display|length }}+1">No results found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}